{% extends 'layout.html' %}
{% block content %}

    <section  class="pet-box profile">
        <h3>{{pet.name}}</h3>
        <img src="{{pet.photo_url}}" alt="Picture of {{pet.name}} the {{pet.species}}.">
        <div class="details">
            <span><strong>Species: </strong>{{pet.species}}    <strong>Age: </strong>{{pet.age}}</span>
            <p>{{pet.notes}}</p>
        </div>
    </section>

    <section class="pet-box">
        <h3>Edit {{pet.name}} info</h3>
        <form id="pet-add-form" method="POST">
            {{ form.hidden_tag() }}
        
            {% for field in form 
                if field.widget.input_type != 'hidden' %}
        
                <p>
                    {{ field.label (class_="label")}}
                    {{ field (class_="input" )}}
        
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </p>
            {% endfor %}
        
            <button type="submit">Save</button>
        <section>    

{% endblock %}