{% extends "layout.html" %}
{% block title %}Feedback{% endblock %}
{% block content %}
<h2 class="display-2">Give Feedback!</h2>

<form method="POST">
  {{ form.hidden_tag() }} 
    {% for field in form
      if field.widget.input_type != 'hidden' %}
    <p>
      {{ field.label }}
      {{ field(class_="form-control") }}
      {% for error in field.errors %}
      <span class="form-text text-danger">{{ error }}</span>
      {% endfor %}
    </p>
    {% endfor %}
    <button class="btn btn-info" type="submit">Add</button>
    <button class = "btn btn-danger" onclick="location.href='/login'">Cancel</button>
</form>
{% endblock %}