{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block content %}

<h2 class="display-2">Sign Up</h2>

<form method="POST">
    {{ form.hidden_tag() }}
  
    {% for field in form
      if field.widget.input_type != 'hidden' %}
    <p>
      {{ field.label }}
      {{ field(class_="form-control") }}
  
      {% for error in field.errors %}
      <span class="form-text text-danger">{{ error }}</span>
      {% endfor %}
    </p>
    {% endfor %}
  
    <button class="btn btn-info" type="submit">Register</button>
    <button class = "btn btn-info" onclick="location.href='/login'">Login</button>
</form>

{% endblock %}